__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv/
.env
.DS_Store
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/

# Jupyter outputs
*.nbconvert.ipynb

# Data and artifacts
data/processed/*
data/processed/**
models/

# VS Code
.vscode/

